@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.shippori-mincho-regular {
  font-family: 'Shippori Mincho', serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'the-seasons';
  src: url('@fonts/the-seasons.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thomasita';
  src: url('@fonts/Thomasita.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mongolia';
  src: url('@fonts/TKSouthMongolia-Regular.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voyage';
  src: url('@fonts/SVN-BonVoyage-Regular.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
