@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'the-seasons';
  src: url('@fonts/the-seasons.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tsukumin';
  src: url('@fonts/FOT-TsukuMin Pro L.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thomasita';
  src: url('@fonts/Thomasita.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mongolia';
  src: url('@fonts/TKSouthMongolia-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voyage';
  src: url('@fonts/SVN-BonVoyage-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
