@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "the-seasons";
  src: url("./assets/fonts/the-seasons.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fot-tsukumin";
  src: url("./assets/fonts/FOT-TsukuMin Pro L.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
